<ion-view>
    <ion-content>
        <ion-list ng-if="items">
            <ion-item ng-repeat="item in items">
                <div class="item item-body">
                    <img class="full-image" ng-src="{{item.image}}">

                    <h1>
                        {{item.title}}
                    </h1>

                    <p>
                        {{item.description}}
                    </p>
                </div>

                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#" ng-click="like(item)" ng-class="{'positive' : item.like }">
                        <i class="icon ion-thumbsup"></i>
                        Like
                    </a>
                    <a class="tab-item" href="#" ng-click="dislike(item)" ng-class="{'positive' : item.dislike }">
                        <i class="icon ion-thumbsdown"></i>
                        Dislike
                    </a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
