<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<widget xmlns:gap   = "http://phonegap.com/ns/1.0" id="io.stpdev.sa.newser" version="1.3.2"
        xmlns="http://www.w3.org/ns/widgets">
  <name>newser</name>
  <description>
        Quick way to browse news
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      IoniX
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="phonegap-version" value="3.7.0" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="orientation" value="portrait" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
